.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* For positioning the close button */
    width: 80%;
    margin: auto;
    background-color: var(--primary-bg-color); /* Dark background color */
    border-radius: 0px;
    box-shadow: none; /* Optional: for better visual separation */
}

/* Close button styling for top-right corner */
.close-button {
    position: absolute;
    top: -100px;
    right: -65px;
    font-size: 24px;
    width: 15%;
    cursor: pointer;
    color: var(--text-color); /* Dark text color */
    background: transparent;
    border: none;
}

/* Main title */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--text-color); /* Dark text color */
}

/* Subtitle for leaderboard */
h2 {
    color: var(--text-color); /* Dark text color */
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Button group to display buttons side by side */
.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;  /* Space between buttons */
    margin-bottom: 20px;
    border-radius: 0px;
    box-shadow: none; /* Optional: for better visual separation */
}

/* Individual button styling */
button {
    padding: 10px 10px;
    font-size: 16px;
    color: var(--button-text-color); /* Dark text color */
    background-color: var(--button-bg-color); /* Dark button background */
    border: 1px solid var(--border-color); /* Dark border */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px; /* Adjust width for uniformity */
    border-radius: 0px;
    box-shadow: none; /* Optional: for better visual separation */
}

/* Button hover effect */
button:hover {
    background-color: var(--button-hover-bg-color); /* Darker shade on hover */
}

/* Button active effect */
button:active {
    background-color: var(--button-active-bg-color); /* Darker active shade */
}

/* Table styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid var(--border-color); /* Dark border */
}

th, td {
    padding: 15px 20px;
    border: 1px solid var(--border-color); /* Dark border */
    font-size: 1.2rem; /* Increase font size for table cells */
}

th {
    background-color: var(--table-header-bg-color); /* Dark header background */
    color: var(--text-color); /* Dark text color */
}

td {
    background-color: var(--table-cell-bg-color); /* Dark cell background */
    color: var(--text-color); /* Dark text color */
}

/* Make the table more responsive on smaller screens */
@media (max-width: 768px) {
    .leaderboard-container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 18px;
    }

    table {
        font-size: 1rem;
    }
}
