.friendsList{
    padding: 100px;
    margin: auto;
    text-align: center;
}
.friendDisplay{
    background-color: lightgray;
}

.list{
    list-style-type:none;
    text-align: right;
}

.listElement {
    border-radius: 16px;
    padding: 2px 12px;
}

.listElement:hover {
    background-color: azure;
    color: black;
    transition-duration: 0.5s;
}

.button{
    color:black;
    background-color: skyblue;
    border-radius: 16px;
    margin: 2px 12px;
}

.button:hover{
    color:aliceblue;
    background-color: darkblue;
    transition-duration: 0.5s;
}

.nobutton{
    background-color:lightcoral;
    color: black;
    border-radius: 16px;
    margin: 2px 12px;
}

.yesbutton{
    background-color: lightgreen;
    color: black;
    border-radius: 16px;
    margin: 2px 12px;
}

.blockbutton{
  background-color: rgba(248, 194, 32, 0.752);
    color: black;
    border-radius: 16px;
    margin: 2px 12px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: dimgrey;
    text-decoration: none;
    cursor: pointer;
  }