.friendsList{
    padding: 100px;
    margin: auto;
    text-align: center;
}
.friendDisplay{
    background-color: lightgray;
}

.list{
    list-style-type:none;
    text-align: right;
}

.listElement {
    border-radius: 16px;
    padding: 2px 12px;
}

.listElement:hover {
    background-color: azure;
    color: black;
    transition-duration: 0.5s;
}

.button{
    color:black;
    background-color: skyblue;
    border-radius: 16px;
    margin: 2px 12px;
}

.button:hover{
    color:aliceblue;
    background-color: black;
    transition-duration: 0.5s;
}