.shoppinglist-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

h3 {
  text-align: center;
  color: #007bff; /* Bootstrap primary color */
}

.items {
  margin: 0px 0;
}

.item {
  padding: 2px;
  margin: 2px 0;
  background-color: #fff;
}



input[type="text"] {
  width: calc(100% - 10px); /* Full width minus padding */
  padding: 10px;
  margin-top: 5px;
  font-size: 12px;
}

input[type="text"]:focus {
  outline: none;

}

.button {
  color: white;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 20px; /* Space between buttons */
}

.btn:hover {
  background-color: #0056b3; /* Darker shade of primary color */
}

.feedback {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

.correct {
  background-color: #d4edda; /* Light green background for correct */
  color: #155724; /* Dark green text */
}

.incorrect {
  background-color: #f8d7da; /* Light red background for incorrect */
  color: #721c24; /* Dark red text */
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  color: #007bff; /* Link color */
  text-decoration: none;
  font-size: 16px;
}

.back-button:hover {
  text-decoration: underline;
}
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

select:focus {
  outline: none;
  border-color: #007bff; /* Bootstrap primary color */
}
