.colortest-container{
  dialogu-container {
    padding: 10px;

    font-family: Arial, sans-serif;
    color: #333;
  }
  
  h2 {
    padding: 75px;
    text-align: center;
    color: var(--text-color);
  }
  
  h3 {
    text-align: center;
    color: var(--text-color);
  }
  select {
    width: 1px; /* Adjust the width as needed */
    padding: 4px; /* Optional: Add some padding for better appearance */
    font-size: 12px; /* Optional: Adjust font size for readability */
  }
  
  select option {
    padding: 2px; /* Ensure options display well */
  }
  
  .color-dropdown {
    width: 120px; /* Adjust to the desired width */
    padding: 4px; /* Add some padding for better appearance */
    font-size: 14px; /* Set font size for readability */
    border: 1px solid #ccc; /* Optional: Add a border for a cleaner look */
    border-radius: 4px; /* Optional: Add rounded corners */
  }

  label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  button {
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #007bff;
  }
  
  @media (max-width: 600px) {
    .section-2 {
      grid-template-columns: 1fr; /* Stack questions on smaller screens */
    }
  
    input[type="text"], button {
      width: 100%;
    }
  }
}

  